
h1{
    text-align: center;
}
 .OuterBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
 }
 .close{
    color: aliceblue;
 }

 .topBox{
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(80, 79, 79);
    border: 2px solid rgb(170, 170, 170);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    color: aliceblue;
    margin-bottom: -13px;
 }
 ion-icon {
    color: white;
  }
  .copy{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  